# Node.js dependencies
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS-specific
.DS_Store
Thumbs.db

# Build output
/dist
/build
/coverage

# Cache
.npm
.eslintcache
.cache
.tmp

# IDE/Editor
.vscode
.idea
*.swp
*.swo
*.swn
*.swm

# Docker
docker-compose.override.yml
