@import "tailwindcss";
@plugin "daisyui";

/* 
@theme {
    --color-yellow: #e7d393;
    --color-white-100: #efefef;
    --font-sans: "Mona Sans", sans-serif;
    --font-modern-negra: "Modern Negra", sans-serif;
    --font-serif: "DM Serif Text", serif;
} */

html,
body {
    width: 100%;
    background-color: "#000000";
    /* color: white; */
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@utility flex-center {
    @apply flex justify-center items-center;
}

@utility col-center {
    @apply flex flex-col justify-center items-center;
}

@utility abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

:root {
  /* GOLDEN + BLACK THEME */
  --color-gold: #FFD700;
  --color-dark-gold: #C5A017;
  --color-golden-glow: #FFDF00;
  --color-black: #000000;
  --color-charcoal: #1A1A1A;
  --color-off-white: #E0E0E0;
  --color-shadow-gray: #2E2E2E;
}
